.banner-section {
    position: relative;
    overflow-x: hidden;
    z-index: -1;
}

.slideshow {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Maintain aspect ratio for images dynamically */
.slideshow img {
    width: 100%;
    object-fit: cover; /* Ensures images maintain proportions */
    position: absolute;
    opacity: 0;
    border-radius: 13px;
    transition: opacity 1s ease-in-out;
}

/* Active image is visible */
.slideshow img.active {
    opacity: 1;
    position: relative;
}

/* Responsive adjustments */
/* @media screen and (max-width: 767px) {
    .slideshow img {
        aspect-ratio: 16 / 9;
    }
} */
