.blog-inner-section .title{
      font-size: 40px;
       font-weight: 500;
       color: var(--primary-color);
       position: relative;
    }
    .blog-inner-section .title::after{
     content: "";
     height: 3px;
     width: 120px;
     display: block;
     background-color: #289171e5;
    }
    .blog-inner-section .title::before{
        content: "";
        height: 3px;
        width: 40px;
        bottom: -12px;
        display: block;
        background-color: #289171e5;
        position: absolute;  }

        .blog-inner-section .img-container{
            max-width: 50%;
            margin: auto;
            margin-top: 40px;
            margin-bottom: 40px;
        }

        .blog-inner-section .img-container img{
            height: 100% !important;
            width: 100% !important;

        }
        .blog-inner-section .sub-content{
            font-size: 20px;
            color: rgba(53, 55, 55, 0.678);
            font-weight: 400;
            margin-top: 30px;
        }
        .blog-inner-section .text-content{
            color: #464c4d;
        }
 .blog-inner-section .thumbnail_container{
    padding-bottom: 100%;
    display: block;
    position: relative;
    width: 100%;
    overflow: hidden;
 }
 .blog-inner-section .thumbnail_container .thumbnail{
    display: block;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    position: absolute;
    margin: auto;
 }
 .blog-inner-section .thumbnail_container .thumbnail img{
    display: block;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    position: absolute;
    margin: auto;
 }