.blog-inner-section .blog-main-part{
    display: flex;
    position: relative;
    gap: 10px;
}
.blog-inner-section .left-part{
   width: 67%;
}
.blog-inner-section .right-part{
    width: 30%;
    position: sticky;
    top: 180px;
    max-height: 100vh;
    overflow-y: auto;
   
    padding: 20px 10px;
 }

 .blog-inner-section .item {
    margin-bottom: 20px; /* Add spacing between blog items */
    padding: 10px 5px; /* Add padding inside each blog item */
    background-color: #fff; /* Add a white background for each blog item */
    border: 1px solid #eee; /* Add a border for each blog item */
    border-radius: 8px; /* Add rounded corners */
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
  

.blog-inner-section .title{
    font-size: 24px;
    font-weight: 500;
    color: var(--ternery-color);
    position: relative;
    text-align: center;
    }
    /* .blog-inner-section .title::after{
     content: "";
     height: 3px;
     width: 120px;
     display: block;
     background-color: #289171e5;
    }
    .blog-inner-section .title::before{
        content: "";
        height: 3px;
        width: 40px;
        bottom: -12px;
        display: block;
        background-color: #289171e5;
        position: absolute;  } */

        .blog-inner-section .img-container{
            margin: auto;
            margin-top: 40px;
            margin-bottom: 40px;
        }

        .blog-inner-section .img-container img{
            height: 100% !important;
            width: 100% !important;

        }
        .blog-inner-section .sub-content{
            font-size: 16px;
            color: rgba(53, 55, 55, 0.678);
            font-weight: 500;
            line-height: 24px;
        }
        .blog-inner-section .text-content{
            color: #464c4d;
        }
        .blog-inner-section .inner-blog-date{
            color: var(--primary-color);
            text-align: center;
        }
 .blog-inner-section .thumbnail_container{
    padding-bottom: 500px;
    display: block;
    position: relative;
    width: 100%;
    overflow: hidden;
 }
 .blog-inner-section .thumbnail_container .thumbnail{
    display: block;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    position: absolute;
    margin: auto;
 }
 .blog-inner-section .subtitle{
    font-size: 16px;
    color: #003939;
    line-height: 24px;
    font-weight: 600;
 }
 .blog-inner-section h4 {
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    padding: 0;
    color: var(--primary-color);
 }
 .blog-inner-section p{
    font-size: 14px;
    font-weight: 400;
    color: var(--dark-color);
 }
 .blog-inner-section .thumbnail_container .thumbnail img{
    display: block;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    position: absolute;
    margin: auto;
 }
 /*right part*/

 .right-part .main-container.bg_fix {
    max-width: 400px;
 }
 .right-part .main-container.bg_fix img{
    height: 120px !important;
    width: 100% !important;
 }
 .right-part .blog-inner-date{
    font-size: 14px;
    padding: 0;
    margin: 0;
    font-weight: 600;   
    color: var(--shade-color);
 }
 .right-part .blog-inner-title{
    font-size: 16px;
    margin-top: 10px;
    color: var(--ternery-color);
 }