html{
    scroll-behavior: smooth;
}
body{
   margin: 0;
   padding:0;
   overflow-x: hidden !important;
   font-family: "Poppins", sans-serif !important;
   /* font-family: "Montserrat", serif !important; */
}
.trigger{
   display: none;
 }
/*common color*/
:root{
    --primary-color:#008483;
    --dark-color:#000000e5;
    --light-color:#fff;
    --ternery-color:#005353;
    --shade-color:#8b8b8bc2;
}

input[type="text"]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

input[type="text"]::-webkit-search-cancel-button {
    display: none;
}
/*common container*/
.container{
    max-width:1350px;
}
.form-container{
    max-width: 900px;
}
.form-outer{
    background:linear-gradient(90deg, #0a8d7b,#e2e2e2);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
}
.card-header {
   padding: 0;
}
@media screen and (max-width:769px) {
    .card-header {
        padding: 10px 7px;
    }
    .trigger{
       display: block;
    }
}
/*common container*/
/*margin class start*/
  .section-margin{
    margin: 60px 0;
  }
  @media screen and (max-width:574px) {
    .section-margin {
        margin: 22px 0;
    }
  }
/*marginn class end*/

/*search box start*/
.s-box{
    float: right;
    position: relative;
}
.dropdown-menu{
    width: 100px;
    min-width: 0 !important;
}
.search-container{
    position: relative;
        border: 1px solid var(--ternery-color);
        border-radius: 4px;
}
.search-container .select{
    border: 0;
    background-color: transparent;
    font-size: 13px;
    height: 40px;
    margin-right: 10px;
    font-weight: 500;
    padding: 0 5px;
    color: var(--ternery-color);
}
.search-container .option-box{
    border: 0 !important;
    background-color: transparent;
}
.search-container button:focus {
  outline: 0;
}
.search-container .select:hover{
    background-color:transparent;
}
.search-container .select::placeholder{
    font-size: 14px;
}
.search-btn-box{
    /* background-color: var(--ternery-color);
    padding: 0 6px;
    border-radius: 0 4px 4px 0; */
    background-color: var(--ternery-color);
    padding: 3px 5px;
    border-radius: 4px;
}
.search-btn-box i{
    font-size: 16px;
}
.search-container .search-box-section {
    display: flex;
    align-items: center;
    padding: 0 5px;
}

.search-container input[type="text"] {
    width: 345px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    padding: 10px 10px;
    border: 0;
    font-size: 14px;
    background-color: transparent;
  }
  @media screen and (max-width:1299px) {
    .search-container input[type="text"] {
        width: 289px;
    }
  }
  @media screen and (max-width:991px) {
    /* .search-section .inputgroup_location {
        width: 164px;
    } */
    .search-container input[type="text"]{
        font-size: 13px;
    }
  }
  @media screen and (max-width:840px) {
    .search-section .inputgroup_location {
        width: 152px;
    }
  }
  /* .search-container .search-input-box{
    border-left: 1px solid var(--primary-color);
} */

.search-container .search-btn{
    background-color: transparent;
    color: var(--light-color);
    border: 0;
    height: 100%;
}



 /* Custom Select Wrapper */
 .custom-select {
    position: relative;
    display: inline-block;
    width: 200px;
  }

  /* Hide Default Select */
  /* select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    border: 2px solid #aaa;
    border-radius: 8px;
    color: #333;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
  } */
.serch-select{
    background: transparent;
    border: 0;
    font-size: 14px;
    padding: 0 2px;
}
  select:focus {
    outline: none;
    border-color: #777;
  }

  /* Custom Arrow */
  .custom-select::after {
    content: '▼';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #666;
    font-size: 14px;
  }

  /* Option Styling */
  option {
    background-color: rgba(255, 255, 255, 0.8); /* Transparent background */
    color: #333;
  }

  /* Hover Effect */
  option:hover {
    background-color: transparent; /* No change in background color */
    text-decoration: underline;
    animation: underline 0.3s ease-in-out;
  }

  /* Text Decoration Animation */
  @keyframes underline {
    from {
      text-decoration-color: transparent;
    }
    to {
      text-decoration-color: #000;
    }
  }
/* .search-box{
    transition: all 1s;
     width: 100%;
    height: 51px;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
}
.search-box .input-group-select{

}
.search-box .input-group-box .select
    { display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding: 5px 1px;
        margin-bottom: 0;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.5;
        color: #495057;
        text-align: center;
        white-space: nowrap;
        background-color: #e9ecef;
    }
    .search-box-section{
        max-width: 170px;
    }
#suggestions{
    list-style-type: none;
    padding: 0;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    position: absolute;
    top: 47px;
    left: 0;
    width: 100%;
    background-color: white;
    display: none;
} */
#suggestions li {
    padding: 8px;
    cursor: pointer;
  }

  #suggestions li:hover {
    background-color: #f0f0f0;
  }

.search-box input{
    position: absolute;
    /* top: 0; */
    /* left: 0; */
    width: 200px;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    /* display: none; */
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa{
    box-sizing: border-box;
    /* padding: 10px; */
    /* width: 42.5px; */
    /* height: 42.5px; */
    position: absolute;
    top: 16px;
    right: 11px;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;

}

/*dropdown item*/

    /* Dropdown Container */
    .dropdown {
        position: relative;
        display: inline-block;
      }

      /* Dropdown Button */
      .dropdown-button {
        color: #333;
        padding: 10px 10px;
        cursor: pointer;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .dropdown-button::after {
        content: '▾';
        margin-left: 10px;
        transition: transform 0.3s;
      }

      /* Rotate arrow when active */
      .dropdown.active .dropdown-button::after {
        transform: rotate(180deg);
      }

      /* Dropdown Menu */
      .dropdown-menu {
        /* display: none; */
        position: absolute;
        top: 100%;
        left: 0;
        background-color: white;
        border-top: none;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        width: 110px;
        font-size:14px;
        z-index: 1000;
      }

      .dropdown-menu .dropdown-item {
        padding: 10px;
        color: #333;
        cursor: pointer;
        border-bottom: 1px solid #ddd;
      }

      .dropdown-menu .dropdown-item:last-child {
        border-bottom: none;
      }

    .dropdown-menu .dropdown-item:hover {
        background-color: var(--primary-color);
        color: var(--light-color);
      }

      /* Show Dropdown */
      .dropdown.active .dropdown-menu {
        display: block;
      }
.search-box.active{
    width: 250px;
    color: var(--dark-color) !important;
    cursor: pointer;
    background-color: var(--light-color);
}
.search-box.active:focus{
    background: #bebebe !important;
    color: var(--dark-color) !important;
}
@media screen and (max-width:767px) {
    .cta:before {
        width: 100% !important;
        }
}

.search-box:hover input{
    display: block;
}

/* .search-box:hover .fa{
    background: #07051a;
    color: white;
} */
/*search box end*/

/*primary btn start*/
.primary-btn{
      padding: 8px 17px;
    color: var(--primary-color);
    border-radius: 18px 1px 18px 1px;
    font-size: 20px;
    font-weight: 400;
    border: 1px solid var(--primary-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: 0.7s all ease-in-out;
    cursor: pointer;
    text-decoration: none !important;
}
.primary-btn:hover{
    border-radius: 1px 21px 1px 21px;
    color: var(--light-color);
   background-color: var(--primary-color);
}
/*priary btn end*/
.logout-btn{
    border-radius: 20px;
    padding: 3px 19px;
    font-size: 19px;
    font-weight: 600;
}
.main-heading{
    /*font-family: monospace;*/
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 500;
    color: var(--ternery-color);
    position: relative;
 }
 .main-heading::before{
    content: "";
    position: absolute;
    right: -66px;
    display: block;
    height: 2px;
    width: 60px;
    top: 50%;
    background-color: var(--primary-color);
 }
 @media screen and (max-width: 991px) {
     .main-heading{
             font-size:26px;
     }
     .main-heading::before {
         top: 41%;
     }
 }
/*common heading*/
.heading-section{
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:575px){
    .main-heading{
        font-size: 24px;
       }
    /* .heading-section {
        flex-direction: column;
    }
    .primary-btn {
        margin-top: 20px;
       max-width: 150px;
    } */
.heading-section {
    display:block;
}
    .main-heading::before {
        display: none;
    }
    .primary-btn {
        padding: 6px 10px;
        color: var(--primary-color);
        border-radius: 20px;
        font-size: 17px;
}

.primary-btn:hover {
  border-radius: 20px;
  color: var(--dark-color);
  background-color: transparent;
}
.mobile-btn{
    margin: 10px 0;
    padding: 6px 15px;
    font-size: 14px;
}
}

@media screen and (max-width: 440px) {
    .main-heading {
        font-size: 20px;
    }
}

.inqury-cheap{
    margin: 8px 0;
    padding: 9px 34px;
     background-color: rgb(188, 11, 11);
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.5s all ease-in-out;
}
.inqury-cheap a{
    display: flex;
    justify-content: center;
    color: var(--light-color) !important;
    text-decoration: none;
}
.inqury-cheap:hover{
  color: var(--dark-color);
  background-color: #008483;
}
.thumbnail_container {
    padding-bottom: 97%;
    display: block;
    position: relative;
    width: 100%;
    overflow: hidden;
}
.thumbnail_container .thumbnail {
    display: block;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    position: absolute;
    margin: auto;
}
.thumbnail_container .thumbnail img {
    display: block;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    position: absolute;
    margin: auto;
}
@media screen and (max-width:575px) {
    .thumbnail_container {
        /* padding-bottom: 65%; */
        padding-bottom: 80%;
    }
}
/*common popup*/
.popup-overlay {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
  }

  .popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    max-height: 80%;
  }

  .popup-close {
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
  }

  .text-wrapper p {
    display: inline;
  }
  .full-text {
    display: none; /* Hidden initially */
  }
  .dots {
    display: inline;
  }
  .readmore-btn {
    color: blue;
    cursor: pointer;
    display: inline-block;
    margin-top: 5px;
    text-decoration: underline;
  }

  .card-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    text-decoration: none; /* Remove underline */
    background-color: rgba(0, 0, 0, 0); /* Ensure it's invisible */
   z-index: 99;
}

.bottom-btn,
.cta{
    position: relative;
}

.reset-box{
    border-radius: 30px;
   background: rgb(0 0 0 / 43%);
}


.main-logo-container{
    background-color: var(--light-color);
    padding: 5px 2px;
}

   /* Custom blur effect for modal background */
   .modal-backdrop {
    backdrop-filter: blur(10px); /* Adjust the blur intensity here */
    background-color: rgba(0, 0, 0, 0.5); /* Optional: Semi-transparent black */
}



/*common btn inqury btn*/
.inqury-btn{
    border: 1px solid var(--primary-color);
    padding: 4px 10px;
    font-size: 13px;
    border-radius: 20px;
    color: var(--dark-color);
    transition: 0.5s all ease-in-out;
    text-decoration: none;

}
.inqury-btn:hover{
    background-color: var(--ternery-color);
    text-decoration: none;
    color: var(--light-color);
}

/*common textbox*/
.input-type-content {
    margin-bottom: 24px;
    position: relative;
  }
  .progress-input-box {
    border-radius: 3px;
    padding: 16px 31px 12px 42px;
    font-size: 14px;
    width: 100%;
    border: 1px solid #ddd;
  }

  .input-type-content .input-icon {
    position: absolute;
    bottom: 33%;
    left: 2%;
    font-size: 14px;
}
.input-field-lable {
    color: #33333394;
    position: absolute;
    left: 4%;
    bottom: 71%;
    background-color: #fff;
    padding: 3px 5px;
    font-size: 14px;
    font-weight: 500;
}

/*read more text*/
.text-wrapper {
    font-size: 14px;
    line-height: 1.6;
    color: #333;
}

.card-description {
    margin-bottom: 8px;
}

.visible-text {
    display: inline;
}

.more-text {
    display: none;
}

.read-more {
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    /* margin-left: 5px; */
}

.read-more:hover {
    text-decoration: underline;
}

/*search popupp*/
#search
{
    align-items: center;
    background: rgba(0, 0, 0, .975);
    height: 0;
    display: flex;
    justify-content: center;
    opacity: 0;
    position: fixed;
    transition: all .5s;
    width: 100vw;
    will-change: transform, opacity;
    z-index: -1;

    &:target
    {
        height: 100vh !important;
        opacity: 1;
        width: 100vw !important;
        z-index: 2;
        .close-btn
        {
            display: block;
        }
    }
}

#searchbox
{
    background: transparent;
    border: solid #fff;
    border-width: 0 0 1px 0;
    color: #fff;
    flex: 1 0 auto;
    font-size: 2rem;
    height: 2rem;
    max-width: 50%;
    outline: 0;
    padding: 2rem 1rem;
}

.close-btn
{
    display: none;
    color: #fff;
    font-size: 2rem;
    position: absolute;
    top: .5rem;
    right: 2rem;
}

/**********************/
/*   Responsive Menu  */
/*   (mobile first)   */
/**********************/

#nav
{
    position: relative;
    ul
    {
        align-items: center;
        background: rgba(0, 0, 0, .95);
        color: #fff;
        display: flex;
        flex-direction: column;
        font-size: 2rem;
        height: 0;
        justify-content: center;
        left: 0;
        margin: 0;
        opacity: 0;
        padding: 0;
        pointer-events: none;
        position: fixed;
        transition: all .5s;
        top: 0;
        will-change: opacity;
        width: 100vw;
        li
        {
            list-style: none;
            padding: 1rem 0;
        }
    }
    &:target
    {
        ul
        {
            height: 100vh !important;
            left: 0;
            opacity: 1;
            top: 0;
            width: 100vw !important;
        }
        .close-btn
        {
            display: block;
            position: fixed;
        }
    }
}

@media screen and ( min-width: 768px)
{
    #responsive-menu-trigger, #close-menu
    {
        display: none;
    }
    #nav
    {
        &, &:target
        {
            ul
            {
                background: none;
                display: inline-flex;
                flex-direction: row;
                font-size: 1rem;
                height: auto !important;
                opacity: 1;
                padding: 0;
                pointer-events: initial;
                position: static;
                transition: none;
                width: auto !important;
                li
                {
                    padding: 0;
                    a
                    {
                        text-decoration: none;
                        font-size: 1rem;
                        margin-right: 1rem;
                    }
                }
            }
            .close-btn{
                display: none;
            }
        }
    }
}

/**********************/
/* fly in directions  */
/**********************/

#search, #nav ul
{
    &.left
    {
        left: 0;
        height: 100vh;
        width: 0;
    }

    &.right
    {
        height: 100vh;
        width: 0;
        right: 0;
        left: auto !important;
    }

    &.bottom.left, &.bottom.right, &.top.left, &.top.right
    {
        height: 0;
    }

    &.bottom
    {
        bottom: 0;
        top: auto !important;
    }

    &.fade
    {
        height: 100vh;
        width: 100vw;
        transition: opacity .5s;
    }
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255);
     justify-content: center;
    /*align-items: center; */
    z-index: 1000;
    transition: 0.5s all ease-in-out;
}
.show-modal {
    display: flex;
}
/* .modal{
    display: none !important;
} */
.modal-content {
    background: #fff;
    padding: 20px 5px;
    border-radius: 5px;
    position: relative;
    border: 0;
    overflow-y: scroll;
    margin-top: 130px;
    text-align: center;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
    /* width: 400px; */
}
.close-button{
    display: none !important; /* Initially hidden */
}
.show-close-button {
    display: block !important;
}

/* .modal-content{
    position: relative;
    top: 150px;
} */

/* .close-button:hover {
    background: #ff4444;
} */

.trigger {
    border: none;
    /* border-radius: 30px;
    background-color: transparent;
    cursor: pointer;
    box-shadow: 0px 0px 2px #8080806e;
    height: 31px;
    width: 30px;
    font-size: 14px; */
}

header .lg-img {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.icon-mobile-view{
    border-radius: 30px;
    background-color: transparent;
    cursor: pointer;
    box-shadow: 0px 0px 2px #8080806e;
    height: 31px;
    width: 30px;
    font-size: 14px;
    margin-right: 9px;
}
.trigger:hover {
    background: #0056b3;
}


 /* Modal Overlay */
 .custom-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999999;
  }

  /* Modal */
  .custom-modal {
    background: #fff;
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.3s ease;
  }

  /* Header */
  .custom-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #f8f9fa;
    border-bottom: 1px solid #e9ecef;
  }
  .custom-modal-header .welcom-txt{
    font-size: 23px;
    color: var(--ternery-color);
    font-weight: 700;
  }
  .custom-modal-logo img {
    height: 40px;
  }

  .custom-modal-welcome {
    font-size: 15px;
    color: #333;
    margin-left: 10px;
    border-left: 1px solid #dfdfdf;
    padding-left: 17px;
    font-weight: 500;
  }

  .custom-modal-close {
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #ffffff;
    background: red;
    border-radius: 40px;
    height: 30px;
    width: 37px;
    top: -35px;
    left: 9px;
    position: relative;
  }
@media screen and (max-width:575px) {
    .custom-modal-header .welcom-txt{
        font-size: 18px;
    }
    .custom-modal-header {
        padding: 12px 9px !important;
        }
        .custom-modal-logo{
            height: 19px;
    width: 113px;
}

}

  /* Body */
  .custom-modal-body {
    padding: 20px;
  }

  .custom-input-group {
    margin-bottom: 15px;
  }

  .custom-label {
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
  }

  .custom-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .custom-link-text {
    font-size: 13px;
    color: #000000;
    margin-top: 10px;
    font-weight: 500;
  }

  .custom-link {
    color: #007bff;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 12px;
    text-decoration: underline;
  }

  .custom-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .custom-forgot {
    font-size: 12px;
    color: #007bff;
    text-decoration: underline;
  }

  /* Footer */
  .custom-modal-footer {
    padding: 20px;
    border-top: 1px solid #e9ecef;
  }

  .custom-btn {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }

  /* Animation */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  .spinner {
    border: 2px solid #f3f3f3;
    border-top: 2px solid #3498db;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    animation: spin 1s linear infinite;
    margin-left: 10px;
    position: relative;
    display: inline-block ;
    right: 40px;
    top: 2px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/*login popup data*/
.custom-input-group{
    position: relative;
    padding: 10px 0;
}
.custom-input-group .custom-input{
    padding: 12px 10px;
}
.custom-input-group .custom-label{
    color: #333333bd;
    position: absolute;
    left: 4%;
    bottom: 54%;
    background-color: #fff;
    padding: 3px 5px;
    font-size: 13px;
    font-weight: 500;
}


/*inner page left sticky*/
.sidebar-all-pages{
    border: 4px solid var(--ternery-color);
    position: sticky;
    top: 180px;
    box-shadow: 5px 6px 1px 0px var(--shade-color);
    width: 180px;
    padding: 14px 13px;
}
.sidebar-all-pages p{
    margin-bottom: 8px;
}
.sidebar-page-link {
    text-decoration: none;
    color: #005353;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #e8e8e8;
}

/*signup popup*/
.open-modal{
  min-width:650px;
}
.open-modal .box-container{
    display: flex;
    justify-content: space-between;
    gap: 10px;
 }
.open-modal .custom-input-group{
    width: 50%;
}



/*custom modal*/
  /* Modal Overlay */
  .custom-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999ssss;
}

/* Modal */
.custom-modal {
    background: #fff;
    width: 90%;
    max-width: 400px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.3s ease;
}

/* Header */
.custom-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #f8f9fa;
    border-bottom: 1px solid #e9ecef;
}

.custom-modal-logo img {
    height: 40px;
}

.custom-modal-welcome {
    font-size: 14px;
    color: #333;
    margin-left: 10px;
}
@media screen and (max-width:767px) {
    .custom-modal-welcome
    {
       display: none;
    }
    .custom-modal-close {
        top: 0 !important;
        left: 0 !important;
        height: 30px !important;
        width: 32px !important;
    }
}

.custom-modal-close {
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #ffffff;
    background-color: #005353;
    border-radius: 40px;
    height: 30px;
    width: 37px;
    top: -35px;
    left: 9px;
    position: relative;
}
.my-box-close{
top:-10px;
}

@media screen  and (max-width:767px) {
.my-box-close {
top: -1px;
left: -6px;
}
}
/* Body */
.custom-modal-body {
    padding: 20px;
}

.custom-input-group {
    margin-bottom: 6px;
}

.custom-label {
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}

.my-box-body{
    overflow-y: scroll;
    overflow-x:hidden;
    height: 500px;
}

.custom-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 500;
}

.custom-link-text {
    font-size: 13px;
    color: #000000;
    margin-top: 10px;
    font-weight: 500;
}

.custom-link {
    color: #005353;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;

}

.custom-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-forgot {
    font-size: 12px;
    color: #007bff;
    text-decoration: underline;
}

/* Footer */
.custom-modal-footer {
    padding: 20px;
    border-top: 1px solid #e9ecef;
}

.custom-btn {
    width: 100%;
    padding: 10px;
    background: #005353;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}


