header{
    position: sticky;
    top: 0;
    z-index: 9999999999999;
}
header .header-top{
     padding: 37px 16px 25px 16px;
    display: flex;
    align-items: center;
  justify-content: space-between;
  background-color: var(--light-color);
  /* box-shadow: 4px 2px 2px #dad6d669; */
}
.header-top .left-part{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.header-logo-container{
   max-width: 172px;
}
.header-logo-container img{
   height: 100%;
   width: 100%;
}
.logo-container{
    max-width: 80px;
    position: absolute;
    top: 10px;
    background:var(--light-color);
    padding: 2px 3px;
  }
.logo-container img{
    height: 100%;
    width: 100% ;
}
header .right-part{
    display: flex !important;
    align-items: center;
    gap: 50px;

}
.rg-bt{
    display: none !important;
}
header .inqury-logo{
    max-width: 40px;
}
header .inqiry-box .inqury-logo img{
    height: 100%;
    width: 100%;
}
header .inqiry-box .inqury-txt{
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--primary-color);
    margin-left: 5px;
}
header .header-bottom .nav-container{
    display: flex;
    margin: auto;
    justify-content: center;

}
header .btn-links{
    color: var(--primary-color);
    font-size: 15px;
}
header .btn-links:hover{
   text-decoration: none;
   color: var(--ternery-color);
}
header .lg-img{
    max-width: 60px;
}
header .lg-img img{
    height: 35px;
    width: 35px;
}
header .header-bottom{
    display: flex;
    width: 100%;
    /* border-radius: 50px; */
    padding:10px 10px 10px 40px;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 1px 1px 1px 0px #00000024;
    border-top: 1px solid #dee2e6;
}
header .contact-cheap{
    border:1px solid var(--ternery-color);
    color: var(--light-color);
    padding: 4px 8px;
    color: var(--ternery-color);
    border-radius: 5px;
    margin: 0;
    text-decoration:none;

}
header .nav-container .nav-view .nav-item{
   list-style-type: none;
   float: left;
   padding: 0 28px;
   border-right: 1px solid #80808030;
}

/* header .header-bottom{
    position: absolute;
    left: 0;
    right: 0;
    top: 98px;
} */
header .nav-container .nav-view .nav-item:nth-last-child(1){
    border-right: none;
 }
 header .nav-container .nav-view .nav-item:nth-child(5) {
    border-right: none; /* Remove it for the second-to-last item */
}
 header .nav-container .nav-view .nav-item .nav-link,
 .category-menu-link {
    font-size: 14px;
    position: relative;
    color: var(--primary-color);
    font-weight:400;
    padding: 0;
    overflow: hidden; /* Ensure the before element does not overflow */
}
header .nav-container .nav-view .nav-item .nav-link:hover {
    color: var(--ternery-color);
}
header .nav-container .nav-view .nav-item .nav-link:hover:after {
    font-weight: 900 !important;
    transform: scaleX(1);
    transform-origin: bottom left;
}

header .nav-container .nav-view .nav-item .nav-link:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--ternery-color);
    transform-origin: bottom right;
    transition: transform .25s ease-out;
}

header .nav-container .nav-view .nav-item .nav-link::before {
    content: "";
    position: absolute;
    height: 1px;
    /* bottom: -10px; */
    width: 0;
    top: 40px;
    background-color: var(--ternery-color);
    transition: width 0.7s ease-in-out, left 0.7s ease-in-out, opacity 0.7s ease-in-out;

}

header .nav-container .nav-view .nav-item .nav-link:hover::before {
    left: 0; /* Move the start position to the left */
    width: 100%; /* Expand the width to full */
    opacity: 1; /* Fade in */
}


.header-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between; /* Space between navigation items and search */
    align-items: center;
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .nav-view {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
    flex-grow: 1;
  }

  .nav-item {
    margin-right: 20px;
  }

  .s-box {
    margin-left: auto; /* Push the search box to the right */
  }
  @media screen and (max-width:767px) {
    .s-box {
      margin-left: 0;
  }
  }

  .search-box {
    position: relative;
  }


  #suggestions,
  #suggestions-mobile{
    list-style-type: none;
    padding: 0;
    margin-top: 5px;
    border: 1px solid #ccc;
    overflow-y:scroll;
    z-index:1;
    height:200px;

    border-radius: 4px;
    position: absolute;
    top: 47px;
    left: 0;
    width: 100%;
    background-color: white;
    display: none;
  }

  #suggestions li {
    padding: 8px;
    cursor: pointer;
  }
  .suggestion-item{
      border-bottom: 1px solid #bcb4b4;
    padding: 5px 10px;
    font-size: 15px;
    }
    .suggestion-item:hover {
    background: var(--primary-color);
    color:var(--light-color);
}

  #suggestions li:hover {
    background-color: #f0f0f0;
  }

  .menu-btn{
     display: none;
  }
  .close-btn{
    display: none;
  }

@media screen and (max-width:991px) {
    .logo-container{
        max-width: 100px !important;
        height: 35px;
    }
    header .inqiry-box .inqury-txt {
     font-size: 14px;
     font-weight: 500;
     margin-left: 3px;
 }
 header .nav-container .nav-view {
    padding: 7px 27px 7px 7px;
    border-radius: 0;
}
header .nav-container .nav-view .nav-item {
    padding: 0 12px;
}
}

@media screen and (max-width:768px) {
    header .nav-container .nav-view .nav-item .nav-link {
        font-size: 14px;
    }
    .menu-btn{
      display: block;
    }
    header .header-bottom {
        position: relative;
        left: 0;
        right: 0;
        top: 3px;
    }
    header .nav-container .nav-view{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 0;
        position: fixed;
        top: 0;
        width: 100%;
        left: -1000px;
        right: 0;
        padding: 0;
        z-index: 9;
        border-radius: 0;
        width: 320px;
         background-color: #052c2b;
        overflow-x: hidden;
        transition: 0.5s;
    }
    header .nav-container .nav-view.show{
        left: 0;
        color: var(--light-color);
    }
    header .nav-container .nav-view.show .nav-link{
        /*border-bottom: 1px solid #1e4948;*/
        display: block;
        width: 100%;
        padding: 14px 30px;
        text-align: left;
        border-right: 0;
        color:var(--light-color);
    }
    header .header-bottom{
        padding: 10px 12px;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }
    .search-box{
        width: 234px;
        border: 1px solid grey;
        background: white;
        padding: 5px;
        overflow: hidden;
        line-height: 41px;
    }
    .search-box::placeholder{
      color: var(--primary-color);
    }
    .search-box .fa{
        padding:15px;
    }
    .header-bottom .menu-btn
    {   background-color: transparent;
    border: 0;
    font-size: 30px;
    color: var(--primary-color);
    }
    header .mobile-logo
    {
        display: block;
        padding: 0;
        width: 100%;
        margin: 0;
        border-bottom: 1px solid white;
        display: flex;
        /* justify-content: center; */
        padding: 11px 40px;
    }
    header .nav-container .nav-view .nav-item {
        border-bottom: 1px solid #2a5453;
        display: block;
        width: 100%;
        padding: 0 30px;
        text-align: left;
        border-right:0;
    }
    header .nav-container .nav-view .nav-item .nav-link{
      font-size: 19px;
    }

    .close-btn
    {
    z-index: 999;
    color: white;
    position: absolute;
    left: 269px;
    position: fixed;
    top: 12px;
    font-size: 50px;
    }
    header .header-top{
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
    }

}

@media screen and (max-width: 767px) {
    header .header-scroll {
        padding: 10px 10px;
        background-color: var(--light-color);
    }
    header .nav-container .nav-view .nav-item .nav-link:hover::before {
  display:none;
}
}

.fix-postion.header-scroll {
    transition: 0.5s all ease-in-out;
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999999999999;
  }
  .fix-postion.header-scroll .nav-container .nav-view   {
  border-radius: 0;
  backdrop-filter: saturate(180%) blur(20px);
  box-shadow:2px 4px 5px 0px #666666a3;
}
.fix-postion.header-scroll .nav-container {
    display: flex;
    width: 100%;
}

@media screen and (max-width:1199px) {
    .header-logo-container {
         max-width: 105px;
         margin-right: 10px;
    }
    header .header-top {
        padding: 37px 5px 24px 3px;
    }
    header .right-part {
               gap: 11px;
        margin-left: 4px;

    }
    .dropdown-button {
        padding: 6px 8px;
    }
    .search-container input[type="text"] {
        width: 192px;
        padding: 8px 9px;
    }
}
 @media screen and (max-width:840px) {
    header .contact-cheap {
        font-size: 14px;
    }
    header .btn-links {
        font-size: 12px;
    }
    .dropdown-button {
        padding: 4px 5px;
        font-size: 14px;
    }
    .search-container input[type="text"] {
        width: 184px;
        padding: 5px 3px;
    }
    header .lg-img img {
    height: 30px;
    width: 30px;
}
}

@media screen and (max-width:575px) {
    .dropdown-button {
        padding: 4px 3px;
        font-size: 12px;
    }
    .search-container input[type="text"] {
        font-size: 14px;
        width: 165px;
        padding: 5px 2px;
    }
}

/*added mobile screen*/
@media screen  and (max-width:767px) {
    header .header-bottom{
        padding: 10px 12px;
        box-shadow: rgba(0, 0, 0, 0.23) 0px 6px 6px;
        background-color: var(--light-color);
        top: 0;
        border-top: 1px solid #cacaca;
    }
    .header-logo-container {
        max-width: 200px;
    }
    header .right-part {
        gap: 43px;
    }
    header .btn-links {
        font-size: 19px;
        color: var(--light-color);
    }

}



@media screen and (max-width:440px) {

    header .header-bottom {
        padding: 10px 3px;
    }
    .header-bottom .menu-btn {
        font-size: 24px;
    }
    .search-container input[type="text"] {
        font-size: 14px;
        width: 144px;
        padding: 6px 2px;
        font-weight: 600;
    }
    .dropdown-button {
        padding: 4px 2px;
        font-size: 14px;
    }
    .dropdown-button::after {
        margin-left: 4px;
    }
}

/*header sub menu*/
.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .menu > li {
    position: relative; /* To position submenu correctly */
    border-right: 1px solid #80808099;
  }

  .menu > li > a {
    color: var(--dark-color);
    text-decoration: none;
    padding: 5px 20px;
    display: block;
    font-size: 15px;
    font-weight: 500;
  }

  /* Submenu styles (Initially hidden) */
  .submenu {
    list-style-type: none;
    margin: 0;
    padding: 10px 7px;
    position: absolute; /* Positioned relative to the parent li */
    top: 34px; /* Position below the parent item */
    left: 0;
    border-radius: 4px;
    background-color: var(--light-color);
    display: none; /* Initially hidden */
    border: 1px solid rgba(0,0,0,.15);
    overflow: hidden; /* Hide overflowing items */

  }

  .submenu .category-menu-item {
    opacity: 0; /* Initially transparent */
    transform: translateY(10px); /* Initially positioned below */
    width: 170px;
  }

  .submenu .category-menu-item a {
    padding: 8px 8px;
    font-size: 13px;
    font-weight: 400;
    color: var(--dark-color);
    text-decoration: none;
    display: block;
  }

  /* .submenu .category-menu-item a:hover {
    background-color: var(--ternery-color);
  } */

  /* Hover effect to show the submenu */
  .menu > li:hover .submenu {
    display: block; /* Make submenu visible */
  }

  /* Keyframes for sliding in the menu items */
  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* Animation for submenu items */
  .submenu .category-menu-item {
    animation: slideIn 0.5s forwards;
  }

  /* Automatically stagger the delay based on the item index */
  .submenu .category-menu-item {
    animation-delay: calc(0.2s * var(--i)); /* Use --i for staggered delay */
  }
.menu .category-img{
    font-size: 14px;
}

  header .nav-container .nav-view .nav-item .nav-link:hover {
    color: var(--ternery-color);
}
header .nav-container .nav-view .nav-item .nav-link:hover:after,
.submenu .category-menu-item a:hover::after
 {
    font-weight: 900 !important;
    transform: scaleX(1);
    transform-origin: bottom left;
}

header .nav-container .nav-view .nav-item .nav-link:after,
.submenu .category-menu-item a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--ternery-color);
    transform-origin: bottom right;
    transition: transform .25s ease-out;
}

header .nav-container .nav-view .nav-item .nav-link::before
.submenu .category-menu-item a::before {
    content: "";
    position: absolute;
    height: 1px;
    /* bottom: -10px; */
    width: 0;
    top: 40px;
    background-color: var(--ternery-color);
    transition: width 0.7s ease-in-out, left 0.7s ease-in-out, opacity 0.7s ease-in-out;
}

header .nav-container .nav-view .nav-item .nav-link:hover::before,
.submenu .category-menu-item a:hover::before {
    left: 0; /* Move the start position to the left */
    width: 100%; /* Expand the width to full */
    opacity: 1; /* Fade in */
}

/*search location box*/
 .search-container{
    display: flex;
    justify-content: space-between;

}
.header .search-input-box
{
  width: 460px;
}
.search-section{
    display: flex;
    gap: 25px;
}
.search-section .inputgroup_location {
    max-width: 243px;
    position: relative;
    overflow: hidden;
}
.search-section .input_location {
    width: 100%;
    border: none;
    background: transparent;
    padding: 2px 15px 0 23px;
    position: relative;
    z-index: 1;
    font-size: 14px;
    font-weight: 500;
    color: #0a0303bf;
}
.search-section .input_location_box{
   overflow: hidden;
   box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
}

.search-section .input_location_box:after {
    position: absolute;
    content: "";
    /*background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) -4%, #f5f5f5 67%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) -4%, #f5f5f5 67%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) -4%, #f5f5f5 67%); */
    right: 0;
    top: 0;
    width: 40px;
    height: 100%;
    z-index: 1;
}
.search-section .input_location_box:before {
    background-image: url(https://akam.cdn.jdmagicbox.com/images/icontent/newwap/web2022/location_icon.svg);
    width: 37px;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    content: "";
    background-repeat: no-repeat;
    background-position: center;
}
.search-section .input_location_box{
    border: solid .5px #585353;
    background: rgb(224,227,255);
    background: linear-gradient(96deg, rgba(224,227,255,0.1358193277310925) 0%, rgba(0,83,83,0.048144257703081283) 42%);
    -moz-transition: all .15s;
    -o-transition: all .15s;
    padding: 8px 20px;
    height: 44px;
    transition: all .15s;
    border-radius: 4px;
}
.search-section .input_location:focus-visible {
    outline: none; /* Remove default outline */
}
        /* .search-location-box{
    margin-right: 30px;
} */
.header .inputgroup_location {
    max-width: 247px;
}

/*search location box*/

/*
  .search-location-box .input_location {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  } */

  .search-location-box .dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 150px;
    overflow-y: auto;
    display: none;
    z-index: 10;
  }

  .search-location-box .dropdown-list.open {
    display: block;
  }

  .search-location-box .dropdown-item {
    padding: 10px;
    cursor: pointer;
  }

  .search-location-box .dropdown-item:hover {
    background-color: #f0f0f0;
  }
