/* body {
    background-color:#F2F9F6;
  } */
  .container {
    max-width: 1350px;
  }
  .search-notfound-box{
    width: 100% !important;
  }
  .outer-box-search{
    display: flex;
    justify-content: space-between;
  }
  .filter-content-view{
    display: flex;
    flex-direction: column;
  }
  .filter-box{
    /* width: 25%;
    position: sticky;
    top: 30px; */
        width: 21%;
        position: sticky;
        top: 190px;
        max-height: 80vh;
        /* overflow-y: auto;
        overflow-x: hidden;
        background: #fff; */
        border-radius: 5px;
        margin: 0 20px;
      }

  .product-view-box{
    width: 75%;
  }
  .product-list-view .product-card {
    border: 1px solid #b6b6b6;
    border-radius: 4px;
    overflow: hidden;
    text-align: center;
    background-color: white;
    padding: 10px 5px 23px 5px;
    margin: 0 10px;
    box-shadow: 4px 6px 15px 0px #80808024;
  }

  .product-list-view .product-main-box {
    padding-bottom: 290px;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  @media screen and (max-width:1299px) {
    .product-list-view .product-main-box {
        padding-bottom: 232px; }

  }
  @media screen and (max-width:1199px) {
    .product-list-view .product-main-box {
        padding-bottom: 220px; }

  }
  .product-list-view .product-main-box .inner-box {
    margin: 0;
    display: block;
    padding: 0;
    border: none;
    height: 100%;
    width: 100%;
    position: absolute;
    background: 0 0;
  }

  .product-list-view .product-main-box .inner-box img {
    display: block;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    position: absolute;
  }

  .product-list-view .product-main-box .product-details {
    padding: 15px;
  }

  .product-list-view .product-detail-name {
    font-size: 14px;
    margin:0;
    line-height: 21px;
    text-align: left;
    border-bottom: 1px solid var(--shade-color);
    color: #000;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
  }
  .product-list-view .product-detail-maintitle{
    font-weight: 600;
  }
  .product-list-view .product-detail-name .lable-txt {
    color: #010101c4;
    font-weight: 500;
    font-size: 13px;
  }

  .product-list-view .product-detail-description {
    font-size: 13px;
    font-weight: 500;
    margin: 6px 0;
    line-height: 21px;
    text-align: left;
    margin-bottom: 7px;
  }

  .product-details .price {
    font-size: 18px;
    color: #007bff;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .product-list-view .product-link {
    padding: 9px 12px;
    color: #008483;
    border-radius: 10px;
    font-size: 13px;
    font-weight: 600;
    border: 1px solid #008483;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    transition: 0.7s all ease-in-out;
    cursor: pointer;
    text-decoration: none !important;
    transition: 0.5s all ease-in-out;
  }

  .product-list-view .product-link:hover {
    color: #003a3a;
    border-color: #005656;
  }

  .product-detail-heading {
    text-transform: uppercase;
    font-size:30px;
    font-weight: 500;
    color: #003a3a;
    position: relative;
    margin-top: 26px;
    margin-bottom: 7px;
  }
   .product-bottom-details{
    height: 295px;
  }
  .filter-content .company-fliter{
        display: flex;
        gap: 6px;
        margin-bottom:7px;
        font-size: 13px;
        align-items: start;
}
  /*slide show code*/
  .product-slideshow-container {
    margin-top: 50px;
    position: relative;
    max-width: 100%;
    height: 230px; /* Adjust based on your image height */
    overflow: hidden;
    background-color: #f3f3f3;
    border: 1px solid #8c8c8cad;
    box-shadow: 4px 5px 7px 1px #8080803b;
  }
 .company-filter-name{
   display: flex;
 }
  .product-details-slides {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: opacity 3s ease-in-out; /* Smooth transition effect */
  }

  .product-details-slides.active {
    opacity: 1; /* Make the active slide fully visible */
  }

  @keyframes fadeEffect {
    0%,
    100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }


  @media screen and (max-width: 991px) {
    .product-list-view .main-box {
      padding-bottom: 248px;
    }
    .product-slideshow-container {
      height: 207px;
    }
  }
  @media screen and (max-width: 767px) {
    .product-slideshow-container {
      height: 160px;
    }
  }
  @media screen and (max-width: 575px) {
    .product-slideshow-container {
      height: 110px;
    }

    .prodoct-img-view {
      margin: 0 20px;
    }
    .search-notfound-box .prodoct-img-view{
        margin: 0 !important;
    }
  }
  @media screen and (max-width: 430px) {
    .product-slideshow-container {
      height: 98px;
    }
  }

  /*filter section*/
  .filter-container {
  position: sticky;
  top: 190px;
  border: 1px solid #ddd;
  background: #e7e9eb;
  border-radius: 5px;
}
.filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  background: #177878;
 color: var(--light-color);
 transition: background-color 0.3s ease;
 display: flex;
 justify-content: space-between;
}
.filter-header .down-arrow-view{
color: var(--light-color);
}
.filter-box .location-title{
    margin: 0;
    padding: 0;
    line-height: 18px;
}
.filter-content label{
    font-size: 14px;
    display: flex;
        gap: 7px;
        align-items: start;
}

.filter-header:hover {
  color: #eaeaea;
  background-color: var(--ternery-color);
}

.filter-header h3 {
  margin: 0;
  font-size: 16px;
}

.filter-header span {
  display: inline-block;
  transition: transform 0.3s ease; /* Add smooth transition for rotation */
}

.filter-header span.rotate {
  transform: rotate(180deg); /* Rotate arrow when expanded */
}

.filter-content {
    display: block;
    padding: 15px;
    overflow-y: scroll;
    scrollbar-width: thin;
    height: 190px;
}

.filter-content input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.filter-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-content ul li {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.filter-content ul li label {
  margin-left: 5px;
}

.clear-btn {
  color: red;
  font-size: 12px;
  cursor: pointer;
  text-align: right;
  display: block;
}
.filter-btn{
  display: none;
}
@media screen and (max-width:1199px) {
    .filter-box{
            width: 22%;
    }
    .product-view-box{
            width: 76%;
    }
  }
@media screen and (max-width:995px) {
.product-list-view .main-box {
padding-bottom: 180px;
}
}
  @media screen and (max-width:767px) {
    .filter-box {
    width: 36%;
}
  }
@media screen and (max-width:575px) {
  .filter-btn{
  display: block;
}

  .filter-box{
  left: -1000px;
  position: fixed;
  }
  .filter-box.active-box{
z-index: 1020;
background: linear-gradient(45deg, #fff, #fff);
box-shadow: -3px 0 10px rgba(0, 0, 0, .2);
transition: all 1s;
left: 0;
bottom: 0;
padding: 10px;
width: 60%;
  }
  .product-view-box {
    width: 94%;
}
}
@media screen and (max-width:575px) {
  .product-view-box {
    width: 100%;
}

}

.company-badges .badge {
 background-color:var(--ternery-color);
 color: #f0f0f0;
border-radius: 4px;
padding: 5px 10px;
margin-right: 5px;
display: inline-block;
font-weight:500;
margin:6px 10px;
font-size: 14px;
}
/* Cross button styles */
.filter-close {
    position: absolute;
    font-size: 24px;
    display: none;
    font-weight: bold;
    cursor: pointer;
    color: var(--light-color);
    z-index: 1050; /* Ensure it is above other elements */
    transition: color 0.3s ease;
  }

  .filter-close:hover {
    color: #ff0000; /* Change color on hover */
  }
  @media screen and (max-width: 1199px) {
    .filter-box {
        width: 29%;
    }
}
@media screen and (max-width:767px) {
    .product-list-view .product-detail-name {
        font-size: 12px;
    }
    .product-list-view .product-detail-description {
        font-size: 12px;
        line-height: 19px;
    }
    .filter-header h3 {
        font-size: 13px;
    }
    .filter-content {
        padding: 15px 6px;
    }
}

  /* Filter box adjustments for mobile view */
  @media screen and (max-width: 575px) {
    .filter-close {
        display: block;
        background: var(--ternery-color);
          top: -11px;
        right: -15px;
        border-radius: 40px;
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .filter-box {
      left: -200%; /* Initially hidden */
      transition: all 0.7s ease-in-out;
     z-index: 99999;
    }
    .company-badges .badge {
       margin: 5px;
    }
    .filter-box.active-box {
      left: 0; /* Visible when active */
    }
  }

.not-found-content{
     color: var(--shade-color);
     font-weight: 300;
     font-size: 16px;
}
.not-fond-txt{
    color: var(--ternery-color);
    font-weight: 500;
}

