.top-category {
    position: relative;
}

/* .top-category .container{
    max-width:1350px;
} */
.card-view {
    padding: 14px 8px;
    margin: 30px 5px;
    position: relative;
    box-shadow: -2px 0rem 1rem rgb(0 0 0 / 6%) !important;
    background-color: var(--light-background);
}

.card-view.inner-card {
    height: 570px;
}

.product-col {
    position: relative;
    min-height: 441px;
    margin-bottom: 21px;
}

.product-col .image-container {
    position: relative;
}
.tranding-product-name {
    height: 32px;
    overflow-y: scroll;
    overflow-x:hidden;
}
.tranding-product-name::-webkit-scrollbar{
    width: 0;
}
.product-card-body {
    padding: 15px;
    position: absolute;
    top: 100%;
    z-index: 999;
    padding: 12px 10px;
    width: 100%;
    left: 0;
    right: 0;
    background-color: var(--light-background);
    box-shadow: 0px 6px 7px rgb(0 0 0 / 7%) !important;
    z-index: 2;
    border-top: 1px solid var(--ternery-color);
}

.detail-btn {
    border: 1px solid var(--primary-color);
    padding: 4px 10px;
    font-size: 14px;
    border-radius: 20px;
    color: var(--light-color);
    transition: 0.5s all ease-in-out;
    text-decoration: none;
    background-color: var(--primary-color);
    text-decoration: none;
    cursor: pointer;
}

.detail-btn:hover {
    background-color: var(--ternery-color);
    text-decoration: none;
    color: var(--light-color);
}

.product-description-div {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    bottom: 119px;
    background: var(--light-background);
    width: 100%;
    left: 0px;
    right: 0px;
    transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out;
}


.show-description {
    opacity: 1;
    max-height: 262px;
    padding: 20px 14px
}

.close-description-btn {
    position: absolute;
    top: 4px;
    height: 18px;
    right: 5px;
    border: none;
    background: transparent;
    font-size: 17px;
    border: 2px solid #000;
    border-radius: 50%;
    width: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-description-div .title,
.product-name .title,
.product-size .size-title,
.tranding-material-title,
.tranding-size-title,
.tranding-product-name .title,
.material-name .material-title {
    color: #340303a1;
    font-size: 16px;
    font-weight: 400;
    /* width: 76px; */
}

@media screen and (max-width:991px) {

    .product-description-div .title,
    .product-name .title,
    .product-size .size-title,
    .tranding-material-title,
    .tranding-size-title,
    .material-name .material-title {
        font-size: 13px;
        font-weight: 400;
    }
}


.card-view .img-container {
    position: relative;
    max-width: 100%;
    height: 220px;
}

.card-view .img-container img {
    height: 100%;
    width: 100%;
}

.card-view .card-description,
.card-view .arrival-card-description,
.card-view .tranding-card-description {
    color: #000000e5;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 7px;
    line-height: 22px;
    margin: 11px 0;
    padding: 0 4px;
    font-weight: 600;
    font-family: inherit;
}

.card-view .open-bar {
    border: 0;
    border-radius: 30px;
    height: 40px;
    width: 40px;
    box-shadow: 2px 2px 2px 2px rgb(21 9 9 / 21%);
    transition: 0.5s all ease-in-out;
    background: var(--light-color);
    position: relative;
    bottom: 19px;
    left: 40%;

}



.card-view.open .card-bottom {
    padding: 5px 7px;
    display: block;
    border-radius: 9px;
    border: 1px solid #b7aeae2b;
}

.card-view.open .open-bar {
    border: 0;
    transform: rotate(180deg);
    /* Rotate the button when open */
}

.product-name,
.company-name,
.material-name,
.product-size,
.tranding-product-name,
.tranding-material-name,
.tranding-product-size,
/* .pro-name, */
.card-bottom .material-name,
.tranding-product-name .trnding-pro-name,
.card-bottom .product-size {
    font-size: 16px !important;
    padding: 0 4px;
    font-weight: 500 !important;
    display: flex;
    gap: 6px;
    margin-bottom: 8px;
    line-height: 25px;
}

.main-logo-container .logo-container {
    max-width: 80px;
    position: absolute;
    top: 14px;
    background: var(--light-color);
    padding: 2px 3px;
    left: 15px;
}

.logo-container img {
    height: 100%;
    width: 100%;
}

.text-product {
    font-weight: 500 !important;
    color: #060000;
    height: 62px;
    /*border-bottom: 1px solid #80808014;*/
    padding: 9px 0;
    /* border-top: 1px solid #8080800d; */
}

.card-description.content-txt {
    font-weight: 500 !important;
    color: #6F6F6F;
    border-top: 1px solid #80808014;
    padding: 9px 0;
    display: block;
    margin: 0;
    font-size: 16px;
    line-height: 26px;
}

.card-bottom .product-name .title,
.card-bottom .product-name .material-title,
.card-bottom .product-name .size-title {
    font-size: 14px;

}

.card-bottom .pro-name,
.card-bottom .product-name .mt-name,
.card-bottom .product-name .sz-name {
    font-weight: 400;
}

.swiper-button-next {
    padding: 25px;
    background-color: #0053535e;
    box-shadow: 1px 1px 5px 2px grey;
    border-radius: 50%;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    color: rgb(56, 0, 0) !important;
    font-size: 16px !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    transition: 0.7s all ease-in-out;
    height: 10px;
    width: 41px;
    background: var(--ternery-color) !important;
    border-radius: 8px;
}

.swiper-pagination-bullet {
    background: #1e1c1c2b !important;
    opacity: 0.8 !important;
}

.cta {
    position: relative;
    padding: 19px 22px;
    color: var(--dark-color);
    transition: all 0.2s ease;
    text-decoration: none !important;
}

.cta:hover {
    color: var(--light-color) !important;
}

.cta:before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    display: block;
    border-radius: 28px;
    background: var(--primary-color);
    /* Assuming --primary is a custom property */
    width: 40px;
    height: 40px;
    transition: all 0.3s ease;
}

.cta span {
    position: relative;
    font-size: 15px;
    line-height: 18px;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-transform: capitalize;
    vertical-align: middle;
}

.cta .fa-arrow-right {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: var(--color);
    /* Assuming --color is a custom property */
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.cta:hover:before {
    width: 100%;
    background-color: rgb(107, 228, 187);
    background: var(--primary-color);
    /* Assuming --primary is a custom property */
}

.cta:hover .fa-arrow-right {
    transform: translateX(0);
}

.cta:active {
    transform: scale(0.96);
}

.card-view .text-wrapper {
    position: relative;
    z-index: 999999;
    padding-bottom: 10px;
}

figure.zoom img {
    transition: opacity .5s;
    display: block;
    width: 100%;
}


.text-wrapper p {
    display: inline;
}

.full-text {
    display: none;
    /* Hidden initially */
}

.dots {
    display: none !important;
}

.readmore-btn {
    color: #747481;
    cursor: pointer;
    display: inline-block;
    margin-top: 5px;
    text-decoration: underline;
    font-size: 12px;
}
.show-description {
    opacity: 1;
    max-height: 262px;
    padding: 20px 14px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.show-description::-webkit-scrollbar{
    width: 0;
}

/*desktop view*/
@media screen and (max-width:1199px) {
    .cta:before {
        height: 34px;
        width: 34px;
    }

    .cta {
        position: relative;
        padding: 15px 15px;
    }

    .cta span {
        font-size: 13px;
        line-height: 12px;
        letter-spacing: 0.5px;
    }

    .product-name,
    .company-name,
    .tranding-product-name,
    .tranding-material-name,
    .tranding-product-size,
    .pro-name,
    .card-bottom .material-name,
    .card-bottom .product-size {
        font-size: 16px;

    }

    .card-view {
        padding: 14px 10px;
    }
}

@media screen and (max-width:991px) {
    .product-col {
        margin-bottom: 0;
        height: 100%;
        min-height: 100%;
    }
  #topcategorycaresoule .owl-dots{
    display: none;
}
    .product-card-body {
        position: relative;
        height: auto;
        box-shadow: none !important;
        z-index: 999;
    }

    .owl-carousel {
        display: none !important;
    }


    .owl-carousel {
        display: block !important;
    }

    .owl-theme .owl-nav {
        display: none;
    }

    .main-logo-container {
        padding: 5px 2px;
    }
}

@media screen and (max-width: 767px) {
    .show-description .product-name,
    .company-name,
    .material-name,
    .product-size,
    .tranding-product-name,
    .tranding-material-name,
    .tranding-product-size,
    .card-bottom .material-name,
    .tranding-product-name .trnding-pro-name,
    .card-bottom .product-size {
        padding: 2px 4px;
        gap: 5px;
        margin-bottom: 10px;
        line-height: 15px;
        border-bottom: 2px dotted var(--shade-color);
    }
    .tranding-product-name.text-product,
    .trnding-pro-name{
      border-bottom: 0 !important;
      height: 46px;
    }
    .show-description {
      padding: 16px 13px;
    }
    .card-description.content-txt {
      border-top: 0;
    }
    .card-view .text-wrapper {
       padding-bottom: 0;
     }
     #newarrivalcaresoule .product-description-div {
        bottom: 106px;
        height: 240px;
        overflow: scroll;
    }
}

@media screen and (max-width:575px) {
    .card-view {
        padding: 16px 12px;
        margin: 20px 10px;
    }
    .card-description.content-txt {
        padding: 0;
    }
    .product-description-div {
        bottom: 100px;
    }

    .product-card-body {
        padding: 0;
    }

    .card-view .text-wrapper {
        margin-top: 3px;
    }

    .main-logo-container .logo-container {
        left: 27px;
    }

    .product-name,
    .company-name,
    .material-name,
    .product-size,
    .tranding-product-name,
    .tranding-material-name,
    .tranding-product-size,
    .card-bottom .material-name,
    .tranding-product-name .trnding-pro-name,
    .card-bottom .product-size {
        margin-bottom: 20px !important;
    }

    .product-name,
    .company-name,
    .material-name,
    .product-size,
    .tranding-product-name,
    .tranding-material-name,
    .tranding-product-size,
    .card-bottom .material-name,
    .tranding-product-name .trnding-pro-name,
    .card-bottom .product-size {
        font-size: 14px !important;
        padding-top: 0;
        overflow: hidden;
    }

    .product-name, .company-name, .tranding-product-name, .tranding-material-name, .tranding-product-size, .pro-name, .card-bottom .material-name, .card-bottom .product-size {
        font-size: 14px;
    }
    .product-card-body {
        position: relative;
        height: auto;
    }

    .product-col .image-container {
        padding: 0 15px;
    }

    .product-col {
        margin: 5px;
        padding: 0;
    }

    .card-view .card-description,
    .card-view .arrival-card-description,
    .card-view .tranding-card-description,
    .tranding-product-name .trnding-pro-name {
        font-size: 14px;
        line-height: 19px;
        height: 50px;
    }

    .product-description-div .title,
    .product-name .title,
    .product-size .size-title,
    .tranding-material-title,
    .tranding-size-title,
    .material-name .material-title {
        font-size: 14px;
    }

    .card-view.inner-card {
        height: auto;
    }
}

@media screen and (max-width: 340px) {
    .product-col {
        margin: 0;
    }
}
