.top-category{
    position: relative;
}
/* .top-category .container{
    max-width:1350px;
} */
.card-view{
   padding: 14px 8px;
    margin: 30px 5px;
   position: relative;
   box-shadow: -2px 0rem 1rem rgb(0 0 0 / 2%) !important;
   background: var(--white-color);
}
.product-col {
    position: relative;
    min-height: 460px;
}
.product-col .image-container{
    position: relative;
}
.product-card-body {
    padding: 15px;
    position: absolute;
    top: 100%;
    z-index: 999;
    padding: 11.5px 5px;
    width: 100%;
        left: 0;
        right: 0;
        background-color: #fff;
        box-shadow: 3px 0rem 2rem rgb(0 0 0 / 2%) !important;
        z-index: 2;
    }

.image_overlay {
    position: absolute;
    top:90%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    color: white;
    font-size: 19px;
    cursor: pointer;
    height: 33px;
    width: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
.product-description-div {
    display: none;
    padding-top: 10px;
}
 .hide {
    display: none;
    transition: 0.5s all ease-in-out;
}
@media screen and (max-width:575px) {
    .card-view {
        padding: 16px 12px;
        margin: 20px 10px;
    }
}
.card-view .img-container{
    position: relative;
   max-width: 100%;
   height: 220px;
}
.card-view .img-container img{
    height: 100%;
    width: 100%;
}
.card-view .card-description,
.card-view .arrival-card-description,
.card-view .tranding-card-description{
    color: #000000e5;
    font-weight:600;
    font-size: 14px;
    margin-bottom: 7px;
    line-height: 22px;
    margin-top: 11px;
    padding: 0 4px;
}
.card-view .open-bar{
    border: 0;
    border-radius: 30px;
    height: 40px;
    width: 40px;
    box-shadow: 2px 2px 2px 2px rgb(21 9 9 / 21%);
    transition: 0.5s all ease-in-out;
    background: var(--light-color);
    position: relative;
    bottom: 19px;
    left: 40%;

}



.card-view.open .card-bottom {
    padding: 5px 7px;
    display: block;
    border-radius: 9px;
    border: 1px solid #b7aeae2b;
}

.card-view.open .open-bar{
    border: 0;
    transform: rotate(180deg); /* Rotate the button when open */
}

 .product-name,
 .company-name,
 .tranding-product-name,
 .tranding-material-name,
 .tranding-product-size,
 .pro-name,
.card-bottom .material-name,
.card-bottom .product-size{
    font-size: 15px !important;
    padding: 0 4px;
    font-size: 14px;
    font-weight: 500 !important;
    font-family: revert;
}
 .card-bottom .product-name .title,
 .card-bottom .product-name .material-title,
 .card-bottom .product-name .size-title{
  font-size: 14px;
}
 .card-bottom .pro-name,
.card-bottom .product-name .mt-name,
.card-bottom .product-name .sz-name{
    font-weight: 400;
}
.swiper-button-next{
    padding: 25px;
    background-color: #0053535e;
    box-shadow: 1px 1px 5px 2px grey;
    border-radius: 50%;
}

.swiper-button-next:after, .swiper-button-prev:after {
    color: rgb(56, 0, 0) !important;
    font-size: 16px !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active
{
    transition: 0.7s all ease-in-out;
    height: 10px;
    width: 41px;
    background: var(--ternery-color) !important;
    border-radius: 8px;
}
.swiper-pagination-bullet{
    background: #1e1c1c2b !important;
    opacity: 0.8 !important;
}

  .cta {
    position: relative;
    padding: 19px 22px;
    color:var(--dark-color);
    transition: all 0.2s ease;
    text-decoration: none !important;
  }
.cta:hover{
    color: var(--light-color) !important;
}
  .cta:before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    display: block;
    border-radius: 28px;
    background: var(--primary-color); /* Assuming --primary is a custom property */
    width: 40px;
    height: 40px;
    transition: all 0.3s ease;
  }

  .cta span {
    position: relative;
    font-size: 15px;
    line-height: 18px;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-transform: capitalize;
    vertical-align: middle;
  }

  .cta .fa-arrow-right {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: var(--color); /* Assuming --color is a custom property */
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }

  .cta:hover:before {
    width: 100%;
    background-color: rgb(107, 228, 187);
    background:  var(--primary-color);  /* Assuming --primary is a custom property */
  }

  .cta:hover .fa-arrow-right {
    transform: translateX(0);
  }

  .cta:active {
    transform: scale(0.96);
  }

 .card-view .text-wrapper{
    margin-top: 15px;
    position: relative;
    z-index: 999999;
 }

  figure.zoom img {
    transition: opacity .5s;
    display: block;
    width: 100%;
  }


  .text-wrapper p {
    display: inline;
}
.full-text {
    display: none; /* Hidden initially */
}
.dots {
    display: none !important;
}
.readmore-btn {
        color: #747481;
        cursor: pointer;
        display: inline-block;
        margin-top: 5px;
        text-decoration: underline;
        font-size: 12px;
    }


/*desktop view*/
@media screen and (max-width:1199px) {
        .cta:before {
            height: 34px;
            width: 34px;
        }
        .cta {
            position: relative;
            padding: 15px 15px;
        }
        .cta span {
            font-size: 13px;
            line-height: 12px;
            letter-spacing: 0.5px;
        }

        .product-name, .company-name, .tranding-product-name, .tranding-material-name, .tranding-product-size, .pro-name, .card-bottom .material-name, .card-bottom .product-size {
            font-size: 14px;

        }
        .card-view {
            padding: 14px 0;
        }
}
